<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/pico.min.css" />
  </head>
  <body>
    <nav class="container">
      <ul>
        <li><strong>Acme Corp</strong></li>
      </ul>
      <ul>
        <li><a href="/admin/add-product">Add products</a></li>
      </ul>
    </nav>
    <main class="container">
      <form action="/add-product" method="post">
        <fieldset>
          <label> Product name </label>
          <input type="text" name="" name />
        </fieldset>
        <button type="submit">Add product</button>
      </form>
    </main>
  </body>
</html>
